version: "3"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "3000"
    env_file:
      - .env
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
