version: "3"

services:

  # Backend (API)
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000"
    environment:
      - MONGODB_URI=${MONGODB_URI:-http://localhost:4200}
      - PORT=3000
      - JWT_SECRET=${JWT_SECRET:-super_secret_for_production}
      - FRONTEND_URL=${FRONTEND_URL:-http://localhost:4200}
